@model IEnumerable<WebBanHang.Models.EF.Category>

@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        if (item.Alias.Equals("trang-chu"))
        {
            item.Alias = "";
        }
        if (!string.IsNullOrEmpty(item.Link))
        {
            item.Alias = item.Link;
        }
        <a href="/@item.Alias" class="nav-item nav-link">@item.Title</a>
        @*<a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
        <a href="about.html" class="nav-item nav-link">Sản Phẩm</a>
        <a href="service.html" class="nav-item nav-link">Blogs</a>
        <a href="blog.html" class="nav-item nav-link">Về Chúng Tôi</a>
        <a href="contact.html" class="nav-item nav-link">Liên Hệ</a>*@

    }


}
